body {
	background-color: darkorange;
}

.user-container {
	background-color: blue;
	border: 2px solid black;
	border-radius: 5%;
	width: 25%;
}

.user-image {
	max-height: 40px;
	max-width: 40px;
}

.img-cont {
	max-height: 3%;
	max-width: 3%;
}

h6 {
	color: blue;
}

#user-container-left {
	width: 30%;
}