body {
	background-color: black;
	padding: 0 2%;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -999;

  background-image: url("http://wallpapercave.com/wp/rYdVygB.png");
  width: 100%;
  height: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.primary-button {

}

.user-container {
	margin: auto;
}

.user-for-stying {
	padding: 3%;
	border-radius: 100%;
	border: 2px solid black;
	text-align: center;
}

.user-image {
	max-height: 200px;
	max-width: 200px;
	border-radius: 100%;
}

.img-cont {
	max-height: 3%;
	max-width: 3%;
}

.winner-badge {
	height: 30px;
	width: 30px;
}